
:root {
    --secondary: #FCF9EB;
    --primary: #567850;
    --text-dark: #ffffff;
    --gold-colour: #ffb74e;
    --glowing-gold: #fec205;
    --glowing-red: #e83409;
    --glowing-orange: #fc590b;
    --orange-text: #ff8421;
}

body {
    margin: 0;
    padding: 2.2rem;
    font-family: 'Quicksand', sans-serif;
    background: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--text-dark);
}

h1 {
    font-family: 'My Soul', cursive;
    font-size: 3rem;
    color: var(--gold-colour);
    margin-bottom: 0.5rem;
    padding: 1.25rem 1rem 0 1rem;
}

h2 {
    font-family: 'Eagle Lake', serif;
    font-size: 1.3rem;
    padding: 0;
    margin: 0 0 .5rem 1.8rem;

    /* Plain Styling */
    /* color: var(--primary);
    text-shadow: -.1rem .1rem 0 var(--gold-colour); */

    /* Pink Flower Styling: */
    color: #f6a5ad;
    text-shadow: -.1rem .1rem 0 #d37b84, .1rem -.1rem 0 #e3e6e5, 0 0 .25rem #e3e6e5, 0 0 .5rem #e3e6e5, 0 0 1rem #e3e6e5;

    /* Pink Flower Darker: */
    color: #a6adaa;
    text-shadow: -.1rem .1rem 0 #6e7371, .1rem -.1rem 0 #e3e6e5, 0 0 .25rem #e3e6e5, 0 0 .5rem #e3e6e5, 0 0 1rem #e3e6e5;
}

p {
    font-family: 'Eagle Lake', serif;
}

a {
    color: var(--gold-colour);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.card {
    background: var(--primary);
    max-width: 600px;
    text-align: center;
    animation: fadeIn 2s ease-out;
    border: 2rem solid transparent;
    border-image: url(./vine-border-gold.png) 50% round;
    border-image-outset: 2.45rem;
    border-image-width: 8rem;
}

.quest-intro {
    margin: 1rem 0 2rem 0;
}

.quest-intro p {
    margin: 0px;
}

.name-style {
    font-family: 'Eagle Lake', serif;
    font-size: 1.75rem;
    color: var(--gold-colour);
}

.details {
    border: .1rem solid var(--secondary);
    margin: 2rem 0 2rem 0;
}

.details p {
    margin: 0.75rem 0;
    font-size: 1.1rem;
}

.rsvp {
    margin-top: 2rem;
    font-weight: 600;
}

.registry-links-container {
    margin-top: 1rem;
    font-size: 0.95rem;
    color: var(--text-dark);
    display: flex;
    justify-content: center;
}

.registry-link {
    background-color: #ffffff;
    align-content: center;
    margin: 0 2rem;
    padding: .1rem .5rem;
    border: .1rem solid #f4c9cf;
}

.footer {
    margin: 2rem 0;

    /* Pink Flower Styling */
    padding: 1.3rem 0;
    background-image: url(./light_flowers.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: .15rem solid #f4c9cf;

    /* Evil Styling: */
    /* padding: 1rem 0; */
    /* background-image: url(./lava-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: .15rem solid #000; */
}

.footer img {
    max-width: 8rem;
}

.footer a {
    /* Remove all for icon styling */
    padding: .5rem .75rem;
    margin: 0 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Eagle Lake', serif;

    /* Pastel Shire Styling: */
    /* color: var(--secondary); */
    /* text-shadow: -.1rem .1rem 0 var(--gold-colour); */
    /* text-shadow: -.1rem .1rem .1rem var(--gold-colour), .1rem -.1rem .1rem var(--gold-colour); */

    /* Pink Flower Field Styling */
    color: var(--secondary);
    text-shadow: -.1rem .1rem 0 #d37b84, 0 0 .8rem #e0a3a9, 0 0 1.25rem #d37b84, 0 0 1.5rem #d37b84;

}

.food-truck-container {
    border: .1rem solid var(--secondary);
}

.food-truck-container p {
    margin: .5rem;
}

.event-catered-container {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.event-catered-container img {
    max-width: 2rem;
}

.flipped {
    transform: scaleX(-1);
}

.pippin-quote {
    color: var(--gold-colour);
    font-size: .8rem;
    margin-bottom: 0;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 500px) {
    h1 {
    font-size: 2rem;
    padding: 0rem;
    }

    h2 {
        margin: 0 0 .5rem 0;
    }

    .details p {
    font-size: 1rem;
    }

    body {
        padding: 1rem;
    }

    .card {
        max-width: 95%;
        border: 1rem solid transparent;
        border-image: url(./vine-border-gold.png) 50% round;
        border-image-outset: .9rem;
        border-image-width: 3rem;
    }

    .card img {
        max-width: 90%;
    }

    .event-catered-container img {
        max-height: 2rem;
    }
}
